

/* .App {
  text-align: center;
} */

*{
  margin: 0;
  padding: 0;
}

section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.cards {
  width: 250px;
  padding: 20px;
}

.pics {
  width: 150px;
  height: 200px;
}

.pics {
  width: 150px;
  height: 200px;
}

.add-to-cart{
  padding: 5px;
  border: none;
  font-weight: bold;
  background-color: pink;
  outline: none;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
  
}

/* .pics {
  width: 30%;
  padding: 5px;
} */

/* Clear floats after image containers */

.cart{
  cursor: pointer;
}
                      
.cart span:nth-child(1){
  font-size: 1.5rem;
  color: white;
}

/* .cart span:nth-child(2){
  padding: 0 3px;
  background-color: red;
  color: white;
  font-weight: bolx;
  border-radius: 5px;
  position: relative;
  top: -15px;
} */


